<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="webapps-solar-system" version="0.0.10">
  <name>Solar system</name>
  <icon src="icon_128.png"/>
  <content src="solar-system.html" type="text/html"/>
  <description>Solar system demo using CSS3</description>
  <author>Alex Girón</author>
  <license>CLOSED</license>
  <feature name="urn:AGL:widget:required-permission">
    <param name="urn:AGL:permission::public:display" value="required" />
    <param name="urn:AGL:permission::public:audio" value="required" />"
    <param name="urn:AGL:permission::public:no-htdocs" value="required" />
  </feature>
  <feature name="urn:AGL:widget:required-api">
    <param name="windowmanager" value="ws" />
    <param name="homescreen" value="ws" />
  </feature>
</widget>

