<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="webapps-aquarium" version="0.0.10">
  <name>WebGL Aquarium</name>
  <icon src="icon_128.png"/>
  <content src="aquarium.html" type="text/html"/>
  <description>Aquarium demo using WebGL</description>
  <author>Google Inc.</author>
  <license>BSD-3</license>
  <feature name="urn:AGL:widget:required-permission">
    <param name="urn:AGL:permission::public:no-htdocs" value="required" />
  </feature>
  <feature name="urn:AGL:widget:required-api">
    <param name="windowmanager" value="ws" />
    <param name="homescreen" value="ws" />
  </feature>
</widget>

